{
  "tabWidth": 4,
  "useTabs": true,
  "useSpaces": false,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "printWidth": 150,
  "trailingComma": "es5"
}
