extends structure/__layout.pug
block head  
    title test
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" defer)
    script(src="/socket.io/socket.io.js")
    script(src="../scripts/Components/Components.js" defer) 
    script(src="../scripts/Systems/BaseSystem.js" defer)
    script(src="../scripts/Systems/AnimationSystem.js" defer)
    script(src="../scripts/Systems/RenderSystem.js" defer)
    script(src="../scripts/Systems/CameraSystem.js" defer)
    script(src="../scripts/Systems/InputSystem.js" defer)
    script(src="../scripts/Systems/NetworkSystem.js" defer)
    script(src="../scripts/Systems/BackgroundSystem.js" defer)
    script(src="../scripts/Entity.js" defer)
    script(src="../scripts/Manager.js" defer)
    script(src="../scripts/main.js" defer)
    
block content
    .canvasContainer
        canvas.back#background
        canvas.fore#foreground