extends structure/__layout.pug
block head  
    title test
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" defer)
    script(src="../scripts/Components.js" defer) 
    script(src="../main.js" defer)
    
block content
    .canvasContainer
        canvas.back#background
        canvas.fore#foreground